@import "content.css";
@import "navbar.css";
@import "sidebar.css";
@import "card.css";
@import "button.css";

body {
    box-sizing: border-box;
    background-color: #edf0ff;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}