.nav {
    background-color: #4286f4;
}

.nav-item {
    padding: .6rem;
}

.nav li a {
    color: #fff;
}

.nav li a:hover {
    color: #b8d2fb;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}