.sidebar {
    width: 16%;
    height: 100%;
    background-color: #4286f4;
    position: fixed;
}

.sidebar h4 {
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #4286f4;
}

.sidebar li {
    list-style-type: none;
}

.sidebar li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-weight: 600;
}

.sidebar li a:hover {
    background-color: #3476e2;
}

.active {
    background-color: #3476e2;
}